{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    "implicit-arrow-linebreak": 0,
    "arrow-parens": 0,
    "function-paren-newline": 0,
    "operator-linebreak": 0,
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0
  }
}
