{
    "env": {
        "node": true
    },
    "extends": "airbnb-base",
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "never"
        ]
        // "no-console": 0,
        // "no-unused-vars": 2,
        // "no-var": 2
    }
}
